Finding the coefficients a and b and also the predicted values of MPG from using the formula y=aX+b in the cars dataset

In [1]:
# Importing the pandas, os and numpy libraries 
import numpy as np
import pandas as pd
import os
#importing the statsmodels for fitting the model
import statsmodels.api as stm
#For test train split
from sklearn.model_selection import train_test_split

In [9]:
#Reading the data
cars = pd.read_csv("cars.csv")

#   X and y values for fitting the model

X = X_test = cars[['Weight']]  #loading the observations of weight into 2 variables
y = cars['MPG']    #Assigning the target variables
X = stm.add_constant(X)   #Adding the constant 1 to all rows of predictors 
X.head()

   const  Weight
0    1.0    3504
1    1.0    3693
2    1.0    3436
3    1.0    3433
4    1.0    3449

In [3]:
#Fitting the OLS model
model = stm.OLS(y,X).fit()

#Values of the estimated parameters
model.params

const     46.325305
Weight    -0.007812
dtype: float64

In [11]:
#Function for Prediction using the model:

def LinReg(x):
    ypredicted =46.32 - 0.0078 * x   # using the formula y=aX+b
    return(ypredicted)

In [12]:
LinReg(X_test)  #Passing the weight to predict the MPG

      Weight
0    18.9888
1    17.5146
2    19.5192
3    19.5426
4    19.4178
..       ...
401  24.5580
402  29.7060
403  28.4190
404  25.8450
405  25.1040

[406 rows x 1 columns]